<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>books store</title>
      
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
      <!-- font awesome -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--  -->
      <!-- owl stylesheets -->
      <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
      <link rel="stylesheet" href="/css/owl.carousel.min.css">
      <link rel="stylesoeet" href="/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <div class="container">
            <div class="header_section_top">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="custom_menu">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/ContactUs">contact us</a></li>
                        <% if (user) { %>
                           <li> 
                               <form method="post" action="/logout">
                                   <button class="btn btn-danger" type="submit">Logout</button>
                               </form>
                           </li>
                       <% } else { %>
                           <li><a href="/signin">sign in</a></li>
                           <li><a href="/signup">sign up</a></li>
                       <% } %>
                       
                        
                     </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card card-registration my-4">
                    <div class="row g-0">
                      <div class="col-xl-6 d-none d-xl-block">
                        <img src="/<%=book.image %>"
                        alt="Sample photo" 
                        class="img-fluid" 
                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; width: 100%; height: 100%;" />
                   
                    
                      </div>
                      <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="shirt_text"><%= book.title %></h4>
                            <% let randomPrice = Math.floor(Math.random() * 100) + 10; %>
                            <p class="price_text">Price <span style="color: #262626;"><%= randomPrice %>  TND</span></p>
                            <!-- Style et fond pour la description -->
                            <div style="background-color: rgba(255, 255, 255, 0.9); width: 400px; height: 600px;">
                                <p style="color: #262626;"><%= book.description %></p>
                            </div>
                            
                            <!-- Fin du style pour la description -->
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <script>
            // Récupérer le bouton par son ID
            var signupButton = document.getElementById('signupButton');
            // Ajouter un écouteur d'événements au clic sur le bouton
            signupButton.addEventListener('click', function() {
              // Rediriger l'utilisateur vers la page /signup
              window.location.href = '/signup';
            });
          </script>
         <script src="/js/jquery.min.js"></script>
         <script src="/js/popper.min.js"></script>
         <script src="/js/bootstrap.bundle.min.js"></script>
         <script src="/js/jquery-3.0.0.min.js"></script>
         <script src="/js/plugin.js"></script>
         <!-- sidebar -->
         <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
         <script src="/js/custom.js"></script>
         <script>
            function openNav() {
              document.getElementById("mySidenav").style.width = "250px";
            }
            function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
            }
         </script>
      </body>
</html>
